<%= devise_error_messages! %>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true, class: "u-full-width" %>

  <%= f.label :password %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <%= f.password_field :password, autocomplete: "off", class: "u-full-width" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, autocomplete: "off", class: "u-full-width" %>

  <%= f.label :timezone %>
  <%= f.time_zone_select :timezone %>

  <%= f.submit "Sign up", class: "button-primary" %>
<% end %>

<%= render "devise/shared/links" %>
