<%= errors_for(post) %>

<%= form_with(model: [post.instagram_account, post], local: true) do |form| %>
  <%= form.label :title, "Caption" %>
  <%= form.text_area :title, id: :post_title, autofocus: true, class: "u-full-width" %>

  <% if post.new_record? %>
    <%= form.label :file, "Picture" %>
    <%= form.file_field :file, class: "u-full-width" %>
  <% else %>
    <%= image_tag(post.picture.thumb.url, height: 150, width: 150) %>
  <% end %>

  <%= form.label :scheduled_at %>
  <%= form.datetime_select :scheduled_at, id: :post_scheduled_at %>

  <%= form.submit "Schedule", class: "button-primary" %>
<% end %>

<p><strong>Pro tip:</strong> If you want to publish your picture now leave the current time as is and it gets published within the next 10 minutes.</p>
